/* Estilos para a Container de Cards */
.card-container {
    display: flex;
    flex-direction: column; /* Empilhar os cards em coluna */
    gap: 20px; /* Espaço entre os cards */
    margin-left: 100px; /* Alinhamento dos cards */
    margin-right: 100px;
    align-items: center; /* Centraliza os cards horizontalmente */
    padding-top: 20px;
}

/* Estilo dos Cards (Altura mais reduzida) */
.card {
    background-color: #DFC3FD; /* Cor de fundo do card */
    border-radius: 15px; /* Bordas arredondadas */
    padding: 15px 20px; /* Espaçamento interno */
    width: 90%; /* Cards ocupando 90% da largura */
    max-width: 700px; /* Largura máxima dos cards */
    height: 160px; /* Altura ainda mais reduzida */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* Sombra suave */
    transition: box-shadow 0.3s, transform 0.3s; /* Transição suave para sombra e escala */
    font-family: 'Lexend', sans-serif; /* Aplica a fonte Lexend */
    display: flex; /* Flexbox para organizar o conteúdo */
    flex-direction: column; /* Organizar conteúdo em coluna */
    justify-content: space-between; /* Espaça os itens dentro do card */
}

/* Remover animação de hover para manter a estética mais estática */
.card:hover {
    transform: none; /* Remove a animação de transformação */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* Mantém a sombra padrão */
}

/* Estilo para o Cabeçalho do Card */
.card-header h3 {
    font-size: 20px; /* Tamanho mais compacto para o título */
    color: #400559; /* Cor do título */
    margin: 0;
    text-align: center; /* Título centralizado */
}

.card-footer {
    display: flex;
    justify-content: flex-start;  /* Alinha os botões à esquerda */
    gap: 10px;  /* Adiciona um espaçamento de 10px entre os botões */
    align-items: center;
    margin-top: 15px;
    font-size: 14px;
}

/* Estilo do Corpo do Card */
.card-body {
    display: flex;
    flex-direction: row; /* Organiza as informações na horizontal */
    justify-content: space-between; /* Espaça uniformemente os itens */
    height: 100%; /* Preenche toda a altura disponível do card */
    margin-top: 10px;
    flex-wrap: wrap; /* Permite que as informações quebrem para a linha abaixo */
}

/* Estilos para os parágrafos de informações dentro do card */
.card-body p {
    font-size: 14px;
    color: #400559; /* Cor do texto */
    margin-bottom: 5px; /* Menos espaço entre os parágrafos */
    line-height: 1.5;
    width: 45%; /* Limita a largura para que o texto ocupe menos espaço */
}





/* Estilo para as badges de turmas */
.card-body .turma-badge {
    background-color: #f0f0f0; /* Cor de fundo das turmas */
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 12px;
    color: #400559; /* Cor do texto das turmas */
    margin-right: 5px;
}

/* Estilo para o Rodapé do Card (botão editar) */
.card-footer {
    display: flex;
    justify-content: flex-end; /* Alinha o botão à direita */
    margin-top: auto; /* Empurra o botão para o fundo do card */
    padding-top: 10px; /* Espaço entre o conteúdo e o botão */
}

/* Estilos para o botão de Editar */
.dados-button {
    background-color: #400559; /* Cor de fundo */
    color: white; /* Cor do texto */
    padding: 8px 12px; /* Tamanho mais adequado */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none; /* Remove sublinhado do link */
    display: inline-block;
    transition: background-color 0.3s, transform 0.3s;
    font-size: 12px; /* Tamanho da fonte menor */
}

.dados-button:hover {
    background-color: #DFC3FD; /* Cor de fundo ao passar o mouse */
    color: #400559; /* Cor do texto ao passar o mouse */
    transform: scale(1.05); /* Leve aumento de tamanho ao passar o mouse */
}

.info-button {
    background-color: #17a2b8; /* Cor diferente para o botão Info */
}

.info-button:hover {
    background-color: #138496; /* Cor de fundo ao passar o mouse */
}

/* Estilos para o ícone de Excluir */
.delete-icon {
    background-color: transparent; /* Fundo transparente para o botão de excluir */
    color: #dc3545; /* Cor vermelha para excluir */
    border: none;
    cursor: pointer;
    padding: 0;
    margin-left: 10px; /* Espaço entre os botões */
    transition: color 0.3s;
}

.delete-icon:hover {
    color: #a71d2a; /* Tom mais escuro ao passar o mouse */
}

/* Estilos gerais para o título */
h1 {
    font-size: 28px;
    color: #400559; /* Cor do título */
    text-align: center; /* Centraliza o título */
    margin-bottom: 20px; /* Espaço abaixo do título */
}

/* Estilo do botão de Informações */
.info-button {
    background-color: #17a2b8; /* Cor diferente para o botão Info */
}

.info-button:hover {
    background-color: #138496; /* Cor de fundo ao passar o mouse */
}

/* Estilos para o ícone de Excluir */
.delete-icon {
    background-color: #dc3545; /* Cor de fundo vermelha para o botão de excluir */
    color: white; /* Cor branca para o ícone de lixeira */
    border: none;
    cursor: pointer;
    padding: 10px; /* Adiciona padding ao botão */
    margin-left: 10px; /* Espaço entre os botões */
    transition: background-color 0.3s, color 0.3s; /* Transições suaves */
    border-radius: 5px; /* Bordas arredondadas */
}

.delete-icon:hover {
    background-color: #a71d2a; /* Cor de fundo mais escura ao passar o mouse */
    color: white; /* Cor branca para o ícone */
}

/* Responsividade */
@media (max-width: 768px) {
    .card-container {
        flex-direction: column; /* Alinha os cards em coluna */
        align-items: center; /* Centraliza os cards */
    }

    .card {
        width: 90%; /* Maior largura para telas menores */
        height: 150px; /* Ajusta a altura dos cards em telas pequenas */
    }

    .filtro-form-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px; /* Espaçamento abaixo do formulário */
    }

    .filtro-form {
        flex-direction: column;
        align-items: center;
    }

    .filtro-form input {
        width: 100%; /* Entradas de filtro ocupando toda a largura disponível */
        margin-bottom: 10px;
        display: flex;
        gap: 10px;
    }

    .filtro-button {
        width: 100%;
        background-color: #400559; /* Cor de fundo */
        color: white; /* Cor do texto */
        border: none;
        border-radius: 5px;
        padding: 8px 12px; /* Ajuste no tamanho */
        cursor: pointer;
        font-size: 14px;
        transition: background-color 0.3s, transform 0.3s;
    }

    .filtro-button:hover {
        background-color: #DFC3FD; /* Cor ao passar o mouse */
        color: #400559;
        transform: scale(1.05); /* Leve aumento */
    }
}

.detalhes-button {
    background-color: #400559; /* Cor de fundo para o botão */
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none; /* Remove sublinhado */
    font-size: 14px;
    transition: background-color 0.3s, transform 0.3s;
}

.detalhes-button:hover {
    background-color: #DFC3FD; /* Cor ao passar o mouse */
    color: #400559;
    transform: scale(1.05); /* Leve aumento */
}

.filtro-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px; /* Espaçamento abaixo do formulário */
}

.filtro-form {
    flex-direction: column;
    align-items: center;
}

.filtro-form input {
    width: 100%; /* Entradas de filtro ocupando toda a largura disponível */
    margin-bottom: 10px;
    display: flex;
    gap: 10px;
}

.filtro-button {
    width: 100%;
    background-color: #400559; /* Cor de fundo */
    color: white; /* Cor do texto */
    border: none;
    border-radius: 5px;
    padding: 8px 12px; /* Ajuste no tamanho */
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s, transform 0.3s;
}

.filtro-button:hover {
    background-color: #DFC3FD; /* Cor ao passar o mouse */
    color: #400559;
    transform: scale(1.05); /* Leve aumento */
}

