@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400&display=swap');

/* Reset de box-sizing para garantir que padding e border não afetem o tamanho dos elementos */
* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    padding-top: 60px; /* Ajuste conforme a altura da navbar */
    background-color: #b6b6b6; /* Cor de fundo da página */
}

/* Estilos para a navbar */
.navbar {
    position: fixed; /* Fixa a navbar na parte superior */
    top: 0; /* Alinha a navbar ao topo da página */
    left: 0; /* Alinha à esquerda */
    width: 100%; /* Ocupa a largura total da tela */
    background-color: white; /* Cor de fundo */
    color: black; /* Cor do texto */
    padding: 10px; /* Espaçamento interno */
    display: flex; /* Para usar flexbox */
    justify-content: space-between; /* Espaço entre os itens */
    align-items: center; /* Centraliza verticalmente */
    z-index: 1000; /* Fica acima de outros elementos */
}

.navbar-actions {
    display: flex;
    align-items: center; /* Alinha verticalmente os itens */
    margin-left: auto; /* Afasta os itens para a direita */
    margin-right: 20px; /* Ajuste para garantir que fique dentro da tela */
}

/* Ajustando o espaçamento entre os ícones da navbar */
.navbar-actions .home-icon, .navbar-actions .user-icon {
    margin-left: 20px; /* Aumenta o espaçamento entre os ícones */
    font-size: 24px; /* Tamanho dos ícones */
}

.navbar-actions .home-icon i, .navbar-actions .user-icon i {
    color: #400559; /* Cor dos ícones */
}

/* Estilo dos botões de menu */
.menu-button {
    background-color: transparent; /* Fundo transparente */
    color: black; /* Cor do ícone */
    border: none; /* Remove a borda padrão */
    cursor: pointer; /* Muda o cursor ao passar o mouse */
    font-size: 24px; /* Aumenta o tamanho do ícone */
    padding: 10px; /* Espaçamento interno */
    transition: color 0.3s; /* Transição suave para a cor */
}

.menu-button:hover {
    color: #400559; /* Cor do ícone ao passar o mouse */
}

.logout-button {
    background-color: transparent; /* Fundo transparente */
    color: black; /* Cor do ícone */
    border: none; /* Remove a borda padrão */
    cursor: pointer; /* Muda o cursor ao passar o mouse */
    font-size: 24px; /* Aumenta o tamanho do ícone */
    padding: 10px; /* Espaçamento interno */
    transition: color 0.3s; /* Transição suave para a cor */
}

.logout-button:hover {
    color: #e74c3c; /* Cor do ícone ao passar o mouse */
}

/* Estilos para a sidebar */
.sidebar {
    position: fixed;
    top: 60px; /* Inicia abaixo da navbar */
    left: 0; /* A sidebar agora está sempre visível */
    width: 60px; /* largura quando recolhida */
    height: calc(100% - 60px); /* Altura total menos a navbar */
    background-color: #400559;
    color: white;
    transition: width 0.3s; /* Transição suave para largura */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Sombra na sidebar */
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alinha todos os itens à esquerda */
}

.sidebar.open {
    width: 250px; /* largura quando expandida */
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    width: 100%; /* Garante que a lista ocupe toda a largura disponível */
}

.sidebar ul li {
    padding: 15px 0; /* Aumenta o espaçamento vertical */
    margin-bottom: 10px; /* Ajusta o espaçamento entre os tópicos */
    text-align: left; /* Alinha à esquerda os itens quando a sidebar estiver aberta */
    width: 100%; /* Garante que o item ocupe toda a largura da sidebar */
}

.sidebar.open ul li {
    text-align: left; /* Alinha à esquerda quando a sidebar está aberta */
}

.sidebar ul li a {
    color: white; /* Cor do texto e ícones padrão na sidebar */
    text-decoration: none;
    display: flex;
    align-items: center; /* Alinha verticalmente os ícones e o texto */
    justify-content: flex-start; /* Alinha os ícones e texto à esquerda */
    width: 100%; /* Faz com que o link ocupe toda a área do item */
    padding-left: 20px; /* Distância da borda esquerda quando a sidebar está aberta */
}

/* Ícones e texto alinhados à esquerda quando a sidebar está fechada */
.sidebar ul li .icon {
    font-size: 24px; /* Aumenta o tamanho do ícone */
    color: white; /* Garantindo que os ícones sejam brancos */
}

/* Texto será invisível, mas não alterará o layout */
.sidebar ul li .text {
    display: none; /* Esconde o texto quando a sidebar está fechada */
    color: white; /* Cor do texto */
}

/* Quando a sidebar estiver aberta, o texto aparecerá ao lado do ícone */
.sidebar.open ul li .text {
    display: inline-block; /* Exibe o texto ao lado dos ícones */
    margin-left: 10px; /* Distância entre o ícone e o texto */
}

/* Estilos para o dropdown */
.sidebar ul li .dropdown {
    display: none; /* Esconde os dropdowns inicialmente */
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar.open ul li.active .dropdown {
    display: block; /* Mostra o dropdown quando ativo e a sidebar está aberta */
    background-color: #400559; /* Azul piscina claro */
    border-radius: 5px; /* Bordas arredondadas */
}

/* Estilo dos itens do dropdown */
.dropdown {
    text-align: left; /* Alinha à esquerda os itens do dropdown */
}

.dropdown li {
    padding: 10px 15px; /* Ajusta o espaçamento uniforme */
    color: black; /* Cor do texto */
    transition: background-color 0.3s; /* Transição suave para a cor de fundo */
    font-family: 'Lexend', sans-serif; /* Aplica a fonte Lexend aos itens do dropdown */
}

.dropdown li a {
    text-decoration: none; /* Remove o sublinhado */
    color: inherit; /* Herda a cor do texto */
    display: block; /* Faz com que o link ocupe toda a área do item */
}

/* Efeito hover nos itens do dropdown */
.dropdown li:hover {
    background-color: rgba(255, 255, 255, 0.3); /* Fundo ao passar o mouse */
}

.content {
    margin-top: 60px; /* Adiciona margem no topo para evitar sobreposição */
    padding: 20px;
}

.sidebar ul li:first-child {
    font-weight: normal; /* Remove o negrito do título */
    padding: 15px 0; /* Espaçamento para manter o alinhamento com os outros itens */
    text-align: center; /* Centraliza o título */
}

.sidebar ul li .logo {
    display: block; /* Para centralizar o logo */
    font-size: 15px; /* Tamanho da fonte do "T" */
    font-weight: bold; /* Negrito */
    color: white; /* Cor do "T" */
    text-align: center; /* Centraliza o "T" */
}

.sidebar ul li .text {
    color: white; /* Cor do título "TESKI" */
    display: none; /* Esconde o texto quando a sidebar está fechada */
    font-family: 'Lexend', sans-serif; /* Aplica a fonte Lexend */
}

.sidebar.open ul li .text {
    display: inline; /* Mostra o texto quando a sidebar está aberta */
}

.sidebar ul li a .arrow {
    margin-left: 5px; /* Distância maior entre o texto e a setinha */
    display: none; /* Esconde as setinhas inicialmente */
    transition: transform 0.3s, color 0.3s; /* Transição suave */
}

.sidebar.open ul li a .arrow {
    display: inline; /* Mostra as setinhas quando a sidebar está aberta */
}

.sidebar ul li.active a .arrow {
    transform: rotate(180deg); /* Roda a setinha para cima */
    color: #DFC3FD; /* Muda a cor da setinha para verde */
}

.sidebar ul li.active a .text {
    color: #DFC3FD; /* Muda a cor do texto para verde */
}

/* Esconde a dropdown quando a sidebar não está aberta */
.sidebar:not(.open) ul li.active .dropdown {
    display: none; /* Esconde os dropdowns quando a sidebar está fechada */
}

.menu-button.active {
    color: #400559; /* Cor verde quando ativo */
}

/* Estilo do ícone da casa */
.navbar-actions .home-icon a i {
    color: #400559; /* Cor inicial */
    font-size: 24px; /* Tamanho do ícone */
    transition: color 0.3s; /* Transição suave da cor */
}

.navbar-actions .home-icon a:hover i {
    color: #DFC3FD; /* Cor ao passar o mouse */
}