{% extends 'base.html' %}

{% block title %}
    Criar Simulado
{% endblock %}

{% block content %}

<div class="form-container">
    <div class="form-box">
        <h1>Adicionar Aluno</h1>
        <form method="post">
            {% csrf_token %}
            
            <div class="form-group">
                <label for="id_nome_aluno">{{ form.nome_aluno.label }}</label>
                {{ form.nome_aluno }}
                {% if form.nome_aluno.errors %}
                    <div class="error-message">
                        {% for error in form.nome_aluno.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <div class="form-group">
                <label for="id_matricula">{{ form.matricula.label }}</label>
                {{ form.matricula }}
                {% if form.matricula.errors %}
                    <div class="error-message">
                        {% for error in form.matricula.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <div class="form-group">
                <label for="id_data_nascimento">{{ form.data_nascimento.label }}</label>
                {{ form.data_nascimento }}
                {% if form.data_nascimento.errors %}
                    <div class="error-message">
                        {% for error in form.data_nascimento.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <div class="form-group">
                <label>Selecione as Turmas:</label>
                {{ form.turmas }}
                {% if form.turmas.errors %}
                    <div class="error-message">
                        {% for error in form.turmas.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <div class="form-group">
                <label for="id_nome_responsavel">{{ form.nome_responsavel.label }}</label>
                {{ form.nome_responsavel }}
                {% if form.nome_responsavel.errors %}
                    <div class="error-message">
                        {% for error in form.nome_responsavel.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <div class="form-group">
                <label for="id_numero_responsavel">{{ form.numero_responsavel.label }}</label>
                {{ form.numero_responsavel }}
                {% if form.numero_responsavel.errors %}
                    <div class="error-message">
                        {% for error in form.numero_responsavel.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <div class="form-group">
                <label for="id_email_responsavel">{{ form.email_responsavel.label }}</label>
                {{ form.email_responsavel }}
                {% if form.email_responsavel.errors %}
                    <div class="error-message">
                        {% for error in form.email_responsavel.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <button type="submit" class="btn btn-primary">Adicionar</button>
        </form>
    </div>
</div>

<script>
function formatDate(input) {
    let value = input.value.replace(/\D/g, ''); // Remove caracteres não numéricos

    if (value.length >= 2) {
        value = value.slice(0, 2) + '/' + value.slice(2); // Adiciona barra após os dias
    }
    if (value.length >= 5) {
        value = value.slice(0, 5) + '/' + value.slice(5); // Adiciona barra após os meses
    }
    input.value = value; // Atualiza o valor do input
}

function formatPhoneNumber(input) {
    let value = input.value.replace(/\D/g, ''); // Remove caracteres não numéricos

    if (value.length >= 2) {
        value = '(' + value.slice(0, 2) + ') ' + value.slice(2); // Adiciona parênteses
    }
    if (value.length > 14) {
        value = value.slice(0, 14); // Limita a 14 caracteres
    }

    input.value = value; // Atualiza o valor do input
}

// Adiciona eventos de input
document.getElementById('id_data_nascimento').addEventListener('input', function() {
    formatDate(this);
});
document.getElementById('id_numero_responsavel').addEventListener('input', function() {
    formatPhoneNumber(this);
});
</script>

{% endblock %}
