{% extends 'base.html' %}

{% block title %}
    Criar Simulado
{% endblock %}

{% block content %}

<div class="form-container">
    <div class="form-box">
        <h1>Editar Aluno: {{ aluno.nome_aluno }}</h1>
        <form method="post">
            {% csrf_token %}
            
            <div class="form-group">
                <label for="id_nome_aluno">{{ form.nome_aluno.label }}</label>
                {{ form.nome_aluno }}
                {{ form.nome_aluno.errors }}
            </div>

            <div class="form-group">
                <label for="id_matricula">{{ form.matricula.label }}</label>
                {{ form.matricula }}
                {{ form.matricula.errors }}
            </div>

            <div class="form-group">
                <label for="id_data_nascimento">{{ form.data_nascimento.label }}</label>
                {{ form.data_nascimento }}
                {{ form.data_nascimento.errors }}
            </div>

            <div class="form-group">
                <label>Selecione as Turmas:</label>
                <div class="checkbox-group">
                    {% for turma in form.turmas %}
                        <div class="checkbox-item">
                            <input type="checkbox" id="turma_{{ turma.id }}" name="turmas" value="{{ turma.id }}" {% if turma.is_checked %}checked{% endif %}>
                            <label for="turma_{{ turma.id }}">{{ turma.nome }}</label>
                        </div>
                    {% endfor %}
                    {{ form.turmas.errors }}
                </div>
            </div>

            <div class="form-group">
                <label for="id_nome_responsavel">{{ form.nome_responsavel.label }}</label>
                {{ form.nome_responsavel }}
                {{ form.nome_responsavel.errors }}
            </div>

            <div class="form-group">
                <label for="id_numero_responsavel">{{ form.numero_responsavel.label }}</label>
                {{ form.numero_responsavel }}
                {{ form.numero_responsavel.errors }}
            </div>

            <div class="form-group">
                <label for="id_email_responsavel">{{ form.email_responsavel.label }}</label>
                {{ form.email_responsavel }}
                {{ form.email_responsavel.errors }}
            </div>

            <button type="submit" class="btn btn-primary">Salvar Alterações</button>
        </form>

        <!-- Botão para excluir aluno -->
        <form method="post" action="{% url 'excluir_aluno' aluno.pk %}" onsubmit="return confirm('Você tem certeza que deseja excluir este aluno?');">
            {% csrf_token %}
            <button type="submit" class="btn-excluir">Excluir Aluno</button>
        </form>
    </div>
</div>

<script>
function formatDate(input) {
    let value = input.value.replace(/\D/g, ''); // Remove caracteres não numéricos
    if (value.length >= 2) {
        value = value.slice(0, 2) + '/' + value.slice(2); // Adiciona barra após os dias
    }
    if (value.length >= 5) {
        value = value.slice(0, 5) + '/' + value.slice(5); // Adiciona barra após os meses
    }
    input.value = value; // Atualiza o valor do input
}

// Adiciona o evento de input ao campo de data de nascimento
document.getElementById('id_data_nascimento').addEventListener('input', function() {
    formatDate(this);
});
</script>

{% endblock %}
