{% extends 'base.html' %}

{% block title %}
    Listar Alunos
{% endblock %}

{% block content %}
<h1>LISTA DE ALUNOS</h1>
<div class="card-container"> <!-- Alterado para usar card-container -->
    {% for aluno in alunos %}
    <div class="card"> <!-- Alterado para usar a classe card -->
        <h3>{{ aluno.nome_aluno }}</h3>
        <p><strong>Situação:</strong> {{ aluno.matricula|yesno:"Matriculado,Não Matriculado" }}</p>
        <p><strong>Nascimento:</strong> {{ aluno.data_nascimento }}</p>
        <p><strong>Colocação Geral:</strong> {{ aluno.colocacao_geral }}</p>
        <p><strong>Turmas:</strong> 
            {% for turma in aluno.turmas.all %}
                <span style="background-color: #f0f0f0; padding: 3px 5px; border-radius: 4px; margin-right: 5px;">{{ turma.nome }}</span>
            {% endfor %}
        </p>
        <a href="{% url 'editar_aluno' aluno.pk %}" class="dados-button">Editar</a>  <!-- Botão de edição -->
    </div>
    {% empty %}
    <div class="card">
        <p>Nenhum aluno cadastrado.</p>
    </div>
    {% endfor %}
</div>
{% endblock %}
