<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@400&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'entrar_login_cadastro.css' %}">
</head>
<body>
    <div class="container">
        <h1>LOGIN</h1>
        <form method="POST" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="form-group">
                <input type="text" id="username" name="username" required placeholder="Usuário" />
            </div>
            <div class="form-group">
                <input type="password" id="password" name="password" required placeholder="Senha" />
            </div>
            <button type="submit" class="btn"><a>Entrar</a></button>  <!-- Botão para enviar o formulário -->
        </form>
    </div>
    <br>
    {% if messages %}
    <div class="alert">
        {% for message in messages %}
            <p class="alert-msg">{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}

    <a href="{% url 'entrar' %}" class="back-btn"></a>

</body>
</html>
