{% extends 'base.html' %}

{% block title %}
    Listar Turmas
{% endblock %}

{% block content %}
    <h1>LISTA DE TURMAS</h1>

    <div class="message-container">
        {% if messages %}
            {% for message in messages %}
                <div class="message">{{ message }}</div>
            {% endfor %}
        {% endif %}
    </div>

    <div class="card-container">
        {% for turma in turmas %}
            <div class="card">
                <h3>{{ turma.nome }}</h3>
                <p><strong>Dias:</strong> {{ turma.dias }}</p>
                <p><strong>Horário:</strong> {{ turma.horario_inicio }} - {{ turma.horario_fim }}</p>

                <div style="display: flex; justify-content: space-between; margin-top: 10px;">
                    <div>
                        <a href="{% url 'info_turma' turma.id %}" class="dados-button">Info</a>
                        <a href="{% url 'editar_turma' turma.id %}" class="dados-button">
                            <i class="fas fa-pencil-alt"></i>
                        </a>
                    </div>
                    <form action="{% url 'excluir_turma' turma.id %}" method="post" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" class="delete-icon" onclick="return confirm('Tem certeza que deseja excluir esta turma?');">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </form>
                </div>
            </div>
        {% empty %}
            <div class="card">
                <p>Nenhuma turma cadastrada.</p>
            </div>
        {% endfor %}
    </div>

    <script>
        window.onload = function() {
            const messageContainer = document.querySelector('.message-container');
            if (messageContainer.children.length > 0) {
                setTimeout(() => {
                    messageContainer.style.opacity = '0';
                    setTimeout(() => {
                        messageContainer.remove();
                    }, 500);
                }, 2000); // Mensagem permanece por 2 segundos
            }
        };
    </script>
{% endblock %}
