{% extends 'base.html' %}

{% block title %}
    Listar Simulados
{% endblock %}

{% block content %}
    <h1>AGENDADOS</h1>

    <div class="message-container">
        {% if messages %}
            {% for message in messages %}
                <div class="message">{{ message }}</div>
            {% endfor %}
        {% endif %}
    </div>

    <div class="card-container">
        {% for simulado in simulados_futuros %}
            <div class="card">
                <h3>{{ simulado.nome }}</h3>
                <p><strong>Matéria:</strong> {{ simulado.materia }}</p>
                <p><strong>Data e Hora de Início:</strong> {{ simulado.data_inicio|date:"d/m/Y H:i" }}</p>
                <p><strong>Turma:</strong> {{ simulado.turma.nome }}</p>

                <div style="display: flex; justify-content: space-between; margin-top: 10px;">
                    <div>
                        <a href="{% url 'info_simulado' simulado.id %}" class="dados-button">Info</a>
                        <a href="{% url 'editar_simulado' simulado.id %}" class="dados-button">
                            <i class="fas fa-pencil-alt"></i>
                        </a>
                    </div>

                    <!-- Formulário de exclusão -->
                    <form action="{% url 'excluir_simulado' simulado.id %}" method="post" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" class="delete-icon" onclick="return confirm('Tem certeza que deseja excluir este simulado?');">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </form>
                </div>
            </div>
        {% empty %}
            <div class="card">
                <p>Nenhum simulado.</p>
            </div>
        {% endfor %}
    </div>

    <br>
    <br>
    <!-- SIMULADOS PASSADOS -->
    <h1>EXPIRADOS</h1>
    <div class="card-container">
        {% for simulado in simulados_passados %}
            <div class="card">
                <h3>{{ simulado.nome }}</h3>
                <p><strong>Matéria:</strong> {{ simulado.materia }}</p>
                <p><strong>Data e Hora de Início:</strong> {{ simulado.data_inicio|date:"d/m/Y H:i" }}</p>
                <p><strong>Turma:</strong> {{ simulado.turma.nome }}</p>

                <div style="display: flex; justify-content: space-between; margin-top: 10px;">
                    <div>
                        <a href="{% url 'info_simulado' simulado.id %}" class="dados-button">Info</a>
                        <a href="{% url 'editar_simulado' simulado.id %}" class="dados-button">
                            <i class="fas fa-pencil-alt"></i>
                        </a>
                    </div>

                    <!-- Formulário de exclusão -->
                    <form action="{% url 'excluir_simulado' simulado.id %}" method="post" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" class="delete-icon" onclick="return confirm('Tem certeza que deseja excluir este simulado?');">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </form>
                </div>
            </div>
        {% empty %}
            <div class="card">
                <p>Nenhum simulado.</p>
            </div>
        {% endfor %}
    </div>

    <script>
        window.onload = function() {
            const messageContainer = document.querySelector('.message-container');
            if (messageContainer.children.length > 0) {
                setTimeout(() => {
                    messageContainer.style.opacity = '0';
                    setTimeout(() => {
                        messageContainer.remove();
                    }, 500);
                }, 2000); // Mensagem permanece por 2 segundos
            }
        };
    </script>
{% endblock %}
